
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: url('https://plus.unsplash.com/premium_photo-1661963874418-df1110ee39c1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y29kZXxlbnwwfHwwfHx8MA%3D%3D') no-repeat center center fixed;
            background-size: cover;
            color: white;
            text-align: center;
        }
        #about {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
        }
    
        #about.h2, h3 {
            color: green;
        }
    
       #about.p {
            font-style: italic;
        }
        header {
            background: rgba(31, 31, 31, 0.8);
            color: white;
            padding: 20px;
            font-size: 24px;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }
        .section {
            background: rgba(42, 42, 42, 0.85);
            padding: 20px;
            margin: 20px 0;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        }
        .portfolio-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
        }
        .project {
            background: rgba(51, 51, 51, 0.85);
            padding: 15px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
            text-align: left;
        }
        .project h3 {
            color: #00bcd4;
        }
        .project a {
            color: #ff9800;
            text-decoration: none;
        }
        .project a:hover {
            text-decoration: underline;
        }
        footer {
            background: rgba(31, 31, 31, 0.8);
            color: white;
            padding: 10px;
            position: relative;
            bottom: 0;
            width: 100%;
        }